:root{
    --main-color: red;
}

html,
:host {
        --lumo-base-color: hsl(0, 0%, 7%);
        --lumo-tint-5pct: hsla(218, 65%, 85%, 0.06);
        --lumo-tint-10pct: hsla(218, 60%, 80%, 0.14);
        --lumo-tint-20pct: hsla(218, 64%, 82%, 0.23);
        --lumo-tint-30pct: hsla(218, 69%, 84%, 0.32);
        --lumo-tint-40pct: hsla(218, 73%, 86%, 0.41);
        --lumo-tint-50pct: hsla(218, 78%, 88%, 0.5);
        --lumo-tint-60pct: hsla(218, 82%, 90%, 0.58);
        --lumo-tint-70pct: hsla(218, 87%, 92%, 0.69);
        --lumo-tint-80pct: hsla(218, 91%, 94%, 0.8);
        --lumo-tint-90pct: hsla(218, 96%, 96%, 0.9);
        --lumo-tint: hsl(218, 100%, 98%);
        --lumo-shade-5pct: hsla(218, 0%, 0%, 0.07);
        --lumo-shade-10pct: hsla(218, 4%, 2%, 0.15);
        --lumo-shade-20pct: hsla(218, 8%, 4%, 0.23);
        --lumo-shade-30pct: hsla(218, 12%, 6%, 0.32);
        --lumo-shade-40pct: hsla(218, 16%, 8%, 0.41);
        --lumo-shade-50pct: hsla(218, 20%, 10%, 0.5);
        --lumo-shade-60pct: hsla(218, 24%, 12%, 0.6);
        --lumo-shade-70pct: hsla(218, 28%, 13%, 0.7);
        --lumo-shade-80pct: hsla(218, 32%, 13%, 0.8);
        --lumo-shade-90pct: hsla(218, 33%, 13%, 0.9);
        --lumo-shade: hsl(218, 33%, 13%);
        --lumo-contrast-5pct: var(--lumo-tint-5pct);
        --lumo-contrast-10pct: var(--lumo-tint-10pct);
        --lumo-contrast-20pct: var(--lumo-tint-20pct);
        --lumo-contrast-30pct: var(--lumo-tint-30pct);
        --lumo-contrast-40pct: var(--lumo-tint-40pct);
        --lumo-contrast-50pct: var(--lumo-tint-50pct);
        --lumo-contrast-60pct: var(--lumo-tint-60pct);
        --lumo-contrast-70pct: var(--lumo-tint-70pct);
        --lumo-contrast-80pct: var(--lumo-tint-80pct);
        --lumo-contrast-90pct: var(--lumo-tint-90pct);
        --lumo-contrast: var(--lumo-tint);
        --lumo-header-text-color: var(--lumo-contrast);
        --lumo-body-text-color: var(--lumo-contrast-90pct);
        --lumo-secondary-text-color: var(--lumo-contrast-70pct);
        --lumo-tertiary-text-color: var(--lumo-contrast-50pct);
        --lumo-disabled-text-color: var(--lumo-contrast-30pct);
        --lumo-primary-color: hsl(350, 89%, 53%);
        --lumo-primary-color-50pct: hsla(350, 89%, 80%, 0.69);
        --lumo-primary-color-10pct: hsla(350, 89%, 65%, 0.13);
        --lumo-primary-text-color: hsl(350, 89%, 53%);
        --lumo-primary-contrast-color: #000;
        --lumo-error-color: hsl(3, 79%, 49%);
        --lumo-error-color-50pct: hsla(3, 75%, 62%, 0.5);
        --lumo-error-color-10pct: hsla(3, 75%, 62%, 0.14);
        --lumo-error-text-color: hsl(3, 100%, 80%);
        --lumo-success-color: hsl(145, 72%, 30%);
        --lumo-success-color-50pct: hsla(145, 92%, 51%, 0.5);
        --lumo-success-color-10pct: hsla(145, 92%, 51%, 0.1);
        --lumo-success-text-color: hsl(145, 85%, 46%);
}

.v-form {
  max-width: 50%;
  margin-left: 20%;
  background-color: hsl(0, 0%, 13%);
  padding: 5%;
  border-radius: 1em;
  border: 1px solid #000;
}

.frame-avatar{
  align-self: center;
  margin-bottom: 5%;
  border: 1px solid;
  border-radius: 50%;
  width: 15em;
  height: 15em;
  overflow: hidden;
  align-contents: center;
}
.img-avatar{
  width: 15em;
}

h1{
    align-self: center;
}